@import 'tailwindcss';

:root {
        --background: #ffffff;
        --foreground: #171717;
}

@theme inline {
        --color-background: var(--background);
        --color-foreground: var(--foreground);
        --font-sans: var(--poppins);
        --spacing-container: 1300px;
        --color-highlight: #f26440;
}

@media (prefers-color-scheme: dark) {
        :root {
                --background: #0a0a0a;
                --foreground: #ededed;
        }
}
.wrapper {
        @apply max-w-container px-1 w-full mx-auto;
}
body {
}
