@import 'tailwindcss';

:root {
        --background: #ffffff;
        --foreground: #171717;
}

@theme inline {
        --color-background: var(--background);
        --color-foreground: var(--foreground);
        --font-sans: var(--poppins);
        --spacing-container: 1300px;
        --breakpoint-xs: 425px;
        --color-highlight: #f26440;
        --color-chinese: #171717;
        --color-myrtle: #286f6c;
        --color-aqua: #bee3fe;
}

@media (prefers-color-scheme: dark) {
        :root {
                --background: #0a0a0a;
                --foreground: #ededed;
        }
}
html.lock {
        overflow: hidden;
}
.wrapper {
        @apply max-w-container px-1 w-full mx-auto;
}
body {
        color: var(--color-chinese);
        font-size: var(--text-lg);
}
h2 {
        font-size: 3rem;
}
